@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

body {
    background: hsl(216, 12%, 8%);
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
}

.container-listagem {
    height: 100%;
}

.shape {
    border-radius: 25px;
    padding: 25px;
    background: hsl(213, 19%, 18%);
    color: hsl(0, 0%, 100%);
    width: auto;
}

.star {
    padding: 13px;
    display: flex;
    border-radius: 180px;
    background: hsla(216, 12%, 54%, 0.13);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.title {
    font-family: 'Overpass';
    margin-top: 35px;
}


.paragraph {
    font-family: 'Overpass';
    font-size: 15px;
    width: 355px;
    color: hsl(217, 12%, 63%);
}

.notes {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.notes label {}

.textbox {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.textbox-inner {
    background: hsla(216, 12%, 54%, 0.13);
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 20px 5px 5px;
    border-radius: 10px;
    width: 100%;
}

.textbox-label {
    color: hsla(0, 0%, 100%, 0.466);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

.textbox-span {
    font-family: 'Overpass';
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.textbox-label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid hsl(25, 97%, 53%);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.textbox-inner:focus+.textbox-label .textbox-span,
.textbox-inner:valid+.textbox-label .textbox-span {
    transform: translateY(-150%);
    font-size: 14px;
    bottom: 0px;
    color: hsl(25, 97%, 53%);
}

.textbox-inner:focus+.textbox-label::after,
.textbox-inner:valid+.textbox-label::after {
    transform: translateX(0%);
}


.rating {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 6px;
}

.rating label {
    text-align: center;
    font-family: 'Overpass';
    border-radius: 180px;
    background: hsla(216, 12%, 54%, 0.13);
    width: 50px;
    height: 50px;
    line-height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rating label:hover {
    background: hsl(217, 12%, 63%);
}

.rating input:checked+label {
    background: hsl(25, 97%, 53%);
}

.button {
    position: relative;
    width: 355px;
    height: 50px;
}

.submit {
    text-transform: uppercase;
    font-family: 'Overpass';
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    background: hsl(25, 97%, 53%);
    border: none;
    border-radius: 45px;
    width: 355px;
    height: 50px;
    cursor: pointer;
    position: relative;
}

.submit:hover {
    background: hsl(25, 86%, 39%);
}

.submit:active {
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.submit-loading .submit-text {
    visibility: hidden;
}

.submit-loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}


/*Segunda tela*/

.img-complete {
    margin: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.your-rating {
    font-family: 'Overpass';
    color: hsl(25, 97%, 53%);
    font-size: 12px;
    background: hsla(216, 12%, 54%, 0.13);
    border-radius: 45px;
    padding: 0.4em 1em 0.2em 1em;
    width: auto;
    height: auto;
    text-align: center;
    display: inline;
}

.title-dois p {
    font-family: 'Overpass';
    font-size: 28px;
    text-align: center;
    margin: 8px;
}

.attribution {
    position: block;
    margin-top: 1em;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-lista {
    font-family: 'Overpass';
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    text-align: center;
    background: hsl(25, 97%, 53%);
    border: none;
    margin: 8px;
    border-radius: 45px;
    padding: 0 20px;
    width: 355px;
    height: 50px;
    cursor: pointer;
}

.btn-lista:hover {
    background: hsl(25, 86%, 39%);
}

.btn-lista:active {
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    border: none;
}

/* tela listagem */

.title-tres {
    font-family: 'Overpass';
    font-size: 12px;
    text-align: left;
    margin: 8px;
}

.table table,
th,
td {
    font-family: 'Overpass';
}

.table table {
    margin: auto auto 15px;
    /* overflow: scroll; */
}

.table th {
    background: hsl(25, 97%, 53%);
}

.table th:first-child {
    font-weight: bold;
    border-radius: 15px 0 0 0;
}

.table th:last-child {
    font-weight: bold;
    border-radius: 0 15px 0 0;
}

.table th,
td {
    padding: 10px;
    width: 157.5px;
    text-align: center;
}

.table tr:nth-child(even) {
    background: hsla(216, 12%, 54%, 0.13);
}

.table tr:nth-child(odd) {
    background: hsla(216, 12%, 54%, 0.445);
}

.table tr:hover:nth-child(n+2) {
    background: hsl(25, 97%, 53%);
    cursor: pointer;
}